body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section.hero {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.current-page {
  color: #404bbf;
}

.current-page::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.section.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/office-desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto 48px auto;
}

.hero-order-button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  min-width: 169px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-button:hover,
.hero-order-button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 1128px;
}

.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-list-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-icon {
  fill: #2e2f42;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-wrap {
  padding: 32px 0;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-item:focus,
.social-links-list-item:hover {
  background-color: #404bbf;
}

.icon-si-links {
  fill: #f4f4fd;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  max-width: 1128px;
}

.product-list-item {
  flex-basis: calc((100% - 48px) / 3);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list-item:hover,
.product-list-item:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.product-list-image {
  margin-bottom: 16px;
}

.product-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.review-list {
  display: flex;
  gap: 24px;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.review-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.review-item-image {
  margin-bottom: 16px;
}

.review-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.review-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section.contact {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 48px;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 1128px;
}

.contact-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.contact-list-item-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contact-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.map {
  margin-bottom: 48px;
}

.site-footer {
  border-top: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px -2px 1px rgba(46, 47, 66, 0.08),
    0px -1px 1px rgba(46, 47, 66, 0.16), 0px -1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-address {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-list {
  display: flex;
  gap: 40px;
}

.footer-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-list-item-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-list-item-link:hover,
.footer-list-item-link:focus {
  color: #404bbf;
}

.footer-social-list {
  display: flex;
  gap: 24px;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: #404bbf;
}

.footer-icon-link {
  fill: #f4f4fd;
}

.footer-address-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-address-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
}